* {
    text-decoration: none;
}

body {
  font-family: Arial;
  font-size: 12px;
}

.top {
    position: relative;
}

#skyline {
  width: 100%;
}

#logo {
  width: 7%;
  position: absolute;
  left: 10%;
  bottom: -10%;
  border: 4px solid white;
}

#tiy {
    font-size: 14px;
}